---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

My publications and technical contributions focus on microgrids, renewable integration, power system resilience, and advanced protection and control strategies for modern electric grids.


{% include base_path %}

{% if site.author.googlescholar %}
<p class="wordwrap">
  You can also find my publications on
  <a href="{{ site.author.googlescholar }}" target="_blank">Google Scholar</a>.
</p>
{% endif %}

{% for post in site.publications reversed %}
  {% include archive-single.html %}
{% endfor %}
